Our Alumni
Our riders’ commitment to service and civic engagement does not end when they reach the Pacific Ocean. After Bike & Build, the majority of young adults in our program continue in volunteer efforts in their own communities and around the world. A few data points:
<ul>
    <li> 94% of our 2016 riders consider public service their civic duty</li>
    <li> 96% of riders said their experience with B&B led to personal growth</li>
    <li> Before the trip, 35% of our riders volunteered with AH orgs, after the trip 87% are dedicated to volunteering at least a few times a year</li>
    <li> 90% of our riders believe that everyone has a moral commitment to civic affairs</li>
    <li> After this summer, 50% of our riders felt that the impact they had on the AH cause was the primary value they received from B&B</li>
</ul>
<p>In addition to the work our alums do in their communities, many continue to stay involved through the efforts of the Bike & Build Alumni Council. In 2016, the Council oversaw a number of impact initiatives from raising funds for the B&B Scholarship to organizing alumni volunteer days in communities around the country to distributing $6,000 in emergency grant funds to Habitat for Humanity of Jacksonville and the St. Bernard Project in New Orleans for disaster relief in the wake of Hurricane Matthew and severe flooding in the south. They also helped spearhead new advocacy initiatives that included reaching out to state and national bike advocacy organizations, as well as encouraging participation in the national <a href="https://www.itcanwait.com/">It Can Wait</a> campaign to raise awareness for and help bring about an end to distracted driving. Learn more about the <a href="https://bikeandbuild.org/alumni/alumni-council/">Bike & Build Alumni Council’s</a> efforts!
</p>
