<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include icons.html %}
    <div class="main">

      <section id="" class="pad-y-xl">
      {% include 01_message.html %}  
      </section>
      <section id="" class="pad-y-xl">

      </section>
      <section id="" class="pad-y-xl">

      </section>
      <section id="" class="pad-y-xl">

      </section>
      <section id="" class="pad-y-xl">

      </section>
      <section id="" class="pad-y-xl">

      </section>
      <section id="" class="pad-y-xl">

      </section>
      <section id="" class="pad-y-xl">

      </section>
      <section id="" class="pad-y-xl">

      </section>
      <section id="" class="pad-y-xl">

      </section>
      <section id="" class="pad-y-xl">

      </section>
      <section id="" class="pad-y-xl">

      </section>

    </div>
  </body>

</html>
